<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、私のサイトBookersへようこそ。</h1>
    <p>
      ユーザー名: <%= @user.name %>
    </p>
    <p>
      メールアドレス: <%= @user.email %>
    </p>
    <p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
  </body>
</html>